@font-face {
    font-family: 'pixel';
    src: url('resources/fonts/pixel.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@keyframes bounce {
    5% {
        transform: translateY(-5%);
        rotate: 0.5deg;
    }
    100% {
        transform: translateY(5%);
        rotate: -1deg;
    }
}

@media (max-width: 600px) {

    #container {
        max-width: 90%;
    }

    #container-image .text {
        padding-right: 0;
        margin-bottom: 10px;
    }
    
    #container-image .image {
        width: 100%;
        height: auto;
    }
}

html {
    font-size: 20px;
    overflow-x: hidden;
}

body {
    background-color: #0d2041;
    background-image:url('resources/images/bg.png');
    background-size: 100% auto;
    color: #c7b24a;
    margin: 0;
    padding: 0;
    font-family: 'pixel', sans-serif;
    font-size: 1rem;
    letter-spacing: 3px;
    z-index: 0;
}

/* Style buttons */
button {
    background-color: #4e5779;
    color: #e2ebf9;
    border: 1px solid #0d2041;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #666;
}

h1, h2, h3, h4, h5, h6, p, a {
    letter-spacing: 4px;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.5);
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    letter-spacing: 4px;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.7);
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
    word-spacing: normal;
}

input, select, textarea {
    background-color: #4e5779;
    color: #e2ebf9;
    border: 1px solid #0d2041;
    padding: 5px;
    border-radius: 5px;
}

input, select, textarea, button {
    font-size: 1rem;
}

select {
    background-color: #4e5779;
    color: #e2ebf9;
    border: 1px solid #0d2041;
}

label {
    color: #2d2d2d;
    font-weight: bold;
}

#container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    min-width: 10%;
    max-width: 70%;
    padding: 2%;
    background-color: #4e5779;
    border: 2px solid #0d2041;
    border-radius: 15px;
    text-align: center;
    font-family: 'pixel', sans-serif;
    color: #fff;
    box-shadow: 4px 4px 0 0 rgba(0,0,0,0.7);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin: 0 auto 10px;
}

#container:hover {
    transform: translateY(-1%);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.9);
}

#container-image {
    display: flex;
    align-items: left;
    justify-content: flex-start;
    position: relative;
    min-width: 10%;
    max-width: 70%;
    padding: 2%;
    background-color: #4e5779;
    border: 2px solid #0d2041;
    border-radius: 15px;
    text-align: center;
    font-family: 'pixel', sans-serif;
    color: #fff;
    box-shadow: 4px 4px 0 0 rgba(0,0,0,0.7);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin: 0 auto 10px;
}

#container-image:hover {
    transform: translateY(-1%);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.9);
}

#container-image .text {
    flex: 1;
    padding-right: 10px;
    font-family: 'pixel', sans-serif;
    color: #fff;
}

#container-image .image {
    width: 200px;
    height: 200px;
    background-color: #ddd;
    border-radius: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
}

#bg {
    position:fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    filter: blur(5px);
}

#bg-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(15px);
}

#sidePanel {
    width: 300px;
    background-color: #4e5779;
    padding: 15px;
    border-left: 2px solid #0d2041;
    color: #fff;
    font-family: 'pixel', sans-serif;
}

#descInput {
    width: 320px;
    height: 80px;
    background-color: #4e5779;
    color: #fff;
    border: 1px solid #0d2041;
    padding: 5px;
    font-family: sans-serif;
}

#previewContainer {
    position: relative;
    min-width: 160px;
    max-width: 320px;
    padding: 10px;
    background-color: #2b2b2b;
    border: 4px solid #fff;
    border-radius: 15px;
    text-align: center;
    font-family: 'pixel', sans-serif;
    color: #ffffff;
    box-shadow: 4px 4px 0px 0px #000;
}

#previewContainer p {
    padding: 10px;
}

#descBubble {
    display: inline-block;
    width: 95%;
    background-color: #eee;
    color: #2b2b2b;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: inset 2px 2px 00px #aaa;
}

#descPreview {
    white-space: pre-line;
}

#descriptionContainer {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

#mainContainer {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

#variableInputs {
    flex: 1;
    max-width: 600px;
}

#output {
    width: 80%;
    height: 300px;
    background-color: #4e5779;
    color: #c7b24a;
    border: 2px solid #0d2041;
    padding: 10px;
    font-family: monospace;
    resize: vertical;
    position: left;
}

#descName {
    color: #fff;
    margin-bottom: 20px;
    font-weight: bold;
}

.intro {                                        /* larger text */
    display: block;
    transform: scale(1.5);
    max-width: 80vw;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin: 0 auto;
    padding: 2% 10vw;
    text-align: center;
    box-sizing: border-box;
}

.smol {                                         /* smaller text */
    display: block;
    transform: scale(0.5);
    max-width: 80vw;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin: 0 auto;
    padding: 1% 10vw;
    text-align: center;
    box-sizing: border-box;
}

.collapsible-menu {                             /* guide menu */
    position: fixed;
    top: 0%;
    right: 0%;
    transform: translateY(0);
    background-color: "#4e5779";
    border-radius: 5px;
    width: 30%;
    padding: 2%;
    z-index: 1000;
}

.menu-toggle {                                  /* sub-menu 1 */
    background-color: #4e5779;
    color: #fff;
    padding: 10px;
    width: 100%;
    border: 2px solid #0d2041;
    cursor: pointer;
    font-family: 'pixel', sans-serif;
    border-radius: 5px;
    margin-bottom: 10px;
}

.menu-content {                                 /* sub menu 2 */
    display: none;
    overflow-y: auto;
    padding:10px;
}

.menu-content::webkit-scrollbar-thumb:hover {   /* makes the button turn gray when hovered */
    background-color: #555;
}

.menu-section {                                 /* bottom margin for menu */
    margin-bottom: 10px;
}

.section-toggle {                               /* text for the section button */
    background-color: #4e5779;
    padding: 8px;
    width: 100%;
    border: 2px solid #0d2041;
    font-family: 'pixel', sans-serif;
    cursor: pointer;
    text-align: left;
    border-radius: 5px;
}

.section-content {                              /* text for sub menu button */
    display: none;
    padding: 5px;
    background-color: #4e5779;
    border-radius: 5px;
    margin-top: 5px;
    border: 2px solid #0d2041;
    max-height: 500px;
    box-sizing: border-box;
    overflow-y: auto;
}

/* last fm stuff here */

#now-playing {
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    font-family: 'pixel', sans-serif;
    background-color: #4e5779;
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    max-width: 40%;
    margin: 10px auto;
    z-index: 1000;
    border: solid 2px #0d2041;
    font-size: 0.6rem;
}

#now-playing:hover {
    background-color: #555;
}

#now-playing img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}